@page
@model RazorPagesApp.Pages.CreateModel
@{

}

<p>Basic Form</p>
<form method="POST">
    <input type="text" placeholder="Name" name="name"/>
    <input type="number" placeholder="Age in Years" name="age" />
    <button type="submit">Submit</button>
</form>
